@use "./partials/common";
@use "./partials/utilities";
@use "./partials/background";
@use "./partials/buttons";

:root {
  --accent: rgb(197, 205, 209);
  --bg-cards: #18181860;
  --text-grey: rgb(84, 84, 84);
  --site-bg: rgb(10, 10, 10);
}

/* lenis */

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(197, 205, 209);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(197, 205, 209, 0.653);
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
