@use "./partials/variables" as *;
@use "./partials/app-header";
@use "./partials/app-footer";
@use "./partials/common";
@use "./partials/utilities";
@use "./partials/home-jumbotron";
@use "./partials/about-me";
@use "./partials/home-projects";
@use "./partials/project-card";
@use "./partials/project-show";
@use "./partials/skills";
@use "./partials/background";

@import "/node_modules/mouse-follower/src/scss/index.scss";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
