@use "./variables" as *;

.bg-bobble1 {
  background-color: rgb(7, 27, 139);
  position: fixed;
  top: 10vh;
  z-index: -1;
  left: 70vw;
  width: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  filter: blur(120px);
  animation: animation 15s ease infinite;
}

.bg-bobble2 {
  background-color: rgb(7, 27, 139);

  position: fixed;
  top: 50vh;
  z-index: -1;
  left: 10vw;
  width: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  filter: blur(120px);
  animation: animation 20s ease infinite;
}

@keyframes animation {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.2);
  }

  35% {
    transform: scale(1.4);
  }

  50% {
    transform: scale(1.6);
  }

  65% {
    transform: scale(1.4);
  }

  85% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
