.bg-bobble1 {
  display: none;
  background-color: rgb(7, 27, 139);
  position: fixed;
  top: 30vh;
  z-index: -1;
  left: 70vw;
  width: 160px;
  aspect-ratio: 1;
  border-radius: 50%;
  filter: blur(70px);
  animation: animation 15s ease infinite;
}

.bg-bobble2 {
  background-color: rgb(7, 27, 139);

  position: fixed;
  top: 50vh;
  z-index: -1;
  left: 50vw;
  animation: animation 20s ease infinite;
  width: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  filter: blur(100px);
}

@keyframes animation {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  15% {
    transform: translate(-50%, -50%) scale(1.2);
  }

  35% {
    transform: translate(-50%, -50%) scale(1.4);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.6);
  }

  65% {
    transform: translate(-50%, -50%) scale(1.4);
  }

  85% {
    transform: translate(-50%, -50%) scale(1.2);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 768px) {
  .bg-bobble1 {
    display: block;
  }

  .bg-bobble2 {
    top: 80vh;
    left: 25vw;
    width: 160px;
    filter: blur(70px);
  }
}

@media screen and (min-width: 992px) {
  .bg-bobble1 {
    width: 220px;
    filter: blur(90px);
  }

  .bg-bobble2 {
    top: 80vh;
    left: 30vw;
    width: 220px;
    filter: blur(90px);
  }
}

@media screen and (min-width: 1400px) {
  .bg-bobble1 {
    left: 75vw;

    width: 300px;
    filter: blur(110px);
  }

  .bg-bobble2 {
    top: 75vh;
    left: 20vw;
    width: 300px;
    filter: blur(110px);
  }
}
