html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--site-bg) !important;
  position: relative;
  color: var(--text-grey) !important;
  font-family: "Nunito", sans-serif !important;
  cursor: none;
  overflow-x: hidden;
}

a {
  cursor: none !important;
  color: inherit !important;
  text-decoration: none !important  ;
}

ul {
  list-style: none;
  margin: 0 !important;
}

.technology-btn {
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--accent);
  border-radius: 10px;
  font-size: 1rem;
  color: var(--accent);
  transition: all 0.5s ease;

  &:hover {
    background-color: var(--accent);
    color: var(--site-bg);
  }
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1.2rem;
  a {
    text-decoration: none;
    padding: 10px;
    border-radius: 13px;
  }

  .gh-link {
    background-color: black;
    color: white !important;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: rgb(38, 38, 38);
    }
  }

  .yt-link {
    background-color: rgb(191, 43, 43);
    color: white !important;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: rgb(105, 20, 20);
    }
  }

  .preview-link {
    background-color: var(--accent);
    color: black !important;
  }
}
