html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--site-bg) !important;
  position: relative;
  color: var(--text-grey) !important;
  font-family: "Nunito", sans-serif !important;
  cursor: none;
  overflow-x: hidden;
}

a {
  cursor: none !important;
  color: inherit !important;
  text-decoration: none !important  ;
}

ul {
  list-style: none;
  margin: 0 !important;
}

.technology-btn {
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--accent);
  border-radius: 10px;
  font-size: 1rem;
  color: var(--accent);
  transition: all 0.5s ease;

  &:hover {
    background-color: var(--accent);
    color: var(--site-bg);
  }
}
