@use "./variables" as *;
#home-projects {
  padding: 10rem 0;
  h2 {
    font-size: 2.5rem;
    color: $accent;
    margin-bottom: 3rem;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
  }

  .projects-btn {
    display: block;
    text-align: center;
  }
}
