@use "./variables" as *;

.home-jumbotron {
  height: 800px;

  .md-container {
    position: relative;
  }

  .jumbo-text {
    padding-top: 7rem;
    color: $accent;
    h1 {
      font-size: 5rem;
    }

    h3 {
      font-size: 3rem;
    }
  }
}
