@use "./variables" as *;

#skills {
  padding: 3rem 0;
  margin-bottom: 250px;
  .skills-slider {
    cursor: grab;
  }

  h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    color: $accent;
    padding-bottom: 2rem;
    margin-bottom: 80px;
  }
}
