// COLORS
$bg-dark: rgb(10, 10, 10);
$text-grey: rgb(84, 84, 84);
$text-light-grey: rgb(103, 102, 107);
$accent: rgb(197, 205, 209);
$btn-dark: #1f1e1f;
$bg-gradient: linear-gradient(
  90deg,
  rgba(92, 21, 215, 1) 10%,
  rgba(253, 29, 29, 1) 51%,
  rgba(190, 251, 0, 1) 100%
);
$bg-project-cards: linear-gradient(
    to bottom,
    #323232 0%,
    #3f3f3f 40%,
    #1c1c1c 150%
  ),
  linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
$bg-tech: rgb(131, 127, 135);
$bg-cards: #18181860;

$bg-bobbles: rgb(0, 82, 47);
